<div id="header-html">
	<div class="letter-head">
		{{ frappe.render_template(frappe.db.get_value("Letter Head", "Standard", "content"), {"doc": doc}) }}
	</div>
</div>
<div class="page-sizes">
<div class="row" id="contact_details">
	<div class="col-xs-8 text-left" style="font-size: 10pt; padding-top: 14mm; line-height: 1.3;">
		{% if not doc.contact_person %}
			{% set details = frappe.db.get_value("Customer", {"name": doc.customer, "customer_type": "Individual"}, "salutation", as_dict=1) %}
			{% if details %}
				{% if details.get("salutation") == "Sehr geehrter Herr" %}
					{{ _("Mr") }}<br>
				{% elif details.get("salutation") == "Sehr geehrte Frau" %}
					{{ _("Mrs") }}<br>
				{% elif details.get("salutation") == "Sehr geehrte Familie" %}
					{{ _("Family") }}<br>
				{% endif %}
			{% endif %}
		{% endif %}
		{{ doc.customer_name }}<br>
		{% if doc.contact_person %}
			{{ doc.contact_display }}<br>
		{% endif %}
		{% if doc.customer_address %}
			{% set address_line1 = frappe.db.get_value("Address", doc.customer_address, "address_line1") %}
			{% if address_line1 %}{{ address_line1 }}<br>{% endif%}
			{% set address_line2 = frappe.db.get_value("Address", doc.customer_address, "address_line2") %}
			{% if address_line2 %}{{ address_line2 }}<br>{% endif%}
			{% set address_line3 = frappe.db.get_value("Address", doc.customer_address, "address_line3") %}
			{% if address_line3 %}{{ address_line3 }}<br>{% endif%}
			{% set address_line4 = frappe.db.get_value("Address", doc.customer_address, "address_line4") %}
			{% if address_line4 %}{{ address_line4 }}<br>{% endif%}
			{% set country = frappe.db.get_value("Address", doc.customer_address, "country") %}
			{{ frappe.db.get_value("Country", country, "code") }}-{{ frappe.db.get_value("Address", doc.customer_address, "postal_code") }} 
			{{ frappe.db.get_value("Address", doc.customer_address, "town") }}
			{% if not address_line1 %}<br>{% endif%}
			{% if not address_line2 %}<br>{% endif%}
			{% if not address_line3 %}<br>{% endif%}
			{% if not address_line4 %}<br>{% endif%}
		{% else %}
			<br>
			<br>
			<br>
			<br>
		{% endif %}
		{% if not doc.contact_person %}<br>{% endif %}
		<div class="date" style="padding-top: 20mm; font-size: 10pt;">
			{{ frappe.utils.formatdate(doc.transaction_date, "dd. MMMM Y") }}
		</div>
	</div>
</div>
{% if doc.subject %}
	<div class="main-info" style="margin-right: 8px;">
		<h4> {{ doc.subject }} </h4>
	</div>
{% endif %}
{% if doc.contact_greeting %}
	{% if not doc.contact_greeting in doc.body_text %}
	<div class="same-page additional-info" style="margin-top: -6pt; margin-bottom: 12pt; margin-right: 8px;">
		{{ doc.contact_greeting }}
	</div>
	{% endif %}
{% endif %}
{% if doc.body_text %}
	<div class="same-page additional-info" style="margin-bottom: 10pt; margin-right: 8px;">
		{{ doc.body_text }}
	</div>
{% endif %}
{% if doc.greeting_text %}
	<div class="same-page additional-info" style="margin-bottom: 10pt; margin-right: 8px;">
		{{ doc.greeting_text }}
	</div>
{% endif %}
{% if doc.employee_signature and doc.employee_signature != doc.chief_signature %}
	<div class="row additional-info" style="page-break-inside: avoid !important;">
		<div class="col-xs-6">
		{{ _("Kind Regards,") }}
		{% if doc.add_signature %}
			{% if doc.chief_signature_value %}
				<p>
					<img src="{{ doc.chief_signature_value }}" style="width: 150px; height:100px;">
				</p>
			{% else %}
				<br><br><br>
			{% endif %}
			<br>
			<span>
				{{ frappe.db.get_value("User", doc.chief_signature, "full_name") }}
			</span><br>
			<span>
				{{ frappe.db.get_value("Employee", {"user_id": doc.chief_signature}, "function")|default("", True) }}
			</span>
		</div>
		<div class="col-xs-6">
			<br>
			{% if doc.employee_signature_value %}
				<p>
					<img src="{{ doc.employee_signature_value }}" style="width: 150px; height: 100px;">
					<br>
				</p>
			{% elif doc.chief_signature_value %}
				<p style="margin-top: 250 !important;"><br></p><br><br><br><br><br>
			{% else %}
				<br><br>
			{% endif %}
			<br>
			<span>
				{{ frappe.db.get_value("User", doc.employee_signature, "full_name") }}
			</span><br>
			<span>
				{{ frappe.db.get_value("Employee", {"user_id": doc.employee_signature}, "function")|default("", True) }}
			</span>
		</div>
		{% endif %}
	</div>
{% elif doc.chief_signature %}
	<div class="row additional-info" style="page-break-inside: avoid !important;">
		<div class="col-xs-6">
			{{ _("Kind Regards,") }}
			{% if doc.add_signature %}
				{% if doc.chief_signature_value %}
					<p>
						<img src="{{ doc.chief_signature_value }}" style="width: 150px; height:100px;">
					</p>
				{% else %}
					<br><br><br>
				{% endif %}
				<span>
					{{ frappe.db.get_value("User", doc.chief_signature, "full_name") }}
				</span><br>
				<span>
					{{ frappe.db.get_value("Employee", {"user_id": doc.chief_signature}, "function")|default("", True) }}
				</span>
			{% endif %}
		</div>
	</div>
{% elif doc.employee_signature %}
	<div class="row additional-info" style="page-break-inside: avoid !important;">
		<div class="col-xs-6">
			{{ _("Kind Regards,") }}
			{% if doc.add_signature %}
				{% if doc.employee_signature_value %}
					<p>
						<img src="{{ doc.employee_signature_value }}" style="width: 150px; height: 100px;">
						<br>
					</p>
				{% else %}
					<br><br><br>
				{% endif %}
				<span>
					{{ frappe.db.get_value("User", doc.employee_signature, "full_name") }}
				</span><br>
				<span>
					{{ frappe.db.get_value("Employee", {"user_id": doc.employee_signature}, "function")|default("", True) }}
				</span>
			{% endif %}
		</div>
	</div>
{% endif %}
{% if doc.related_name %}
<div class="page-break"></div>
{% set sales_invoice = frappe.get_doc("Sales Invoice", doc.related_name) %}
<div class="row" id="contact_details">
	<div class="col-xs-7 text-left" style="font-size: 10pt; padding-top: 18mm; line-height: 1;">
		{% if not sales_invoice.contact_person %}
			{% set details = frappe.db.get_value("Customer", {"name": sales_invoice.customer, "customer_type": "Individual"}, "salutation", as_dict=1) %}
			{% if details %}
				{% if details.get("salutation") == "Sehr geehrter Herr" %}
					{{ _("Mr") }}<br>
				{% elif details.get("salutation") == "Sehr geehrte Frau" %}
					{{ _("Mrs") }}<br>
				{% elif details.get("salutation") == "Sehr geehrte Familie" %}
					{{ _("Family") }}<br>
				{% endif %}
			{% endif %}
		{% endif %}
		{{ sales_invoice.customer_name }}<br>
		{% if sales_invoice.customer_address %}
			{% set address_line1 = frappe.db.get_value("Address", sales_invoice.customer_address, "address_line1") %}
			{% if address_line1 %}{{ address_line1 }}<br>{% endif%}
			{% set address_line2 = frappe.db.get_value("Address", sales_invoice.customer_address, "address_line2") %}
			{% if address_line2 %}{{ address_line2 }}<br>{% endif%}
			{% set address_line3 = frappe.db.get_value("Address", sales_invoice.customer_address, "address_line3") %}
			{% if address_line3 %}{{ address_line3 }}<br>{% endif%}
			{% set address_line4 = frappe.db.get_value("Address", sales_invoice.customer_address, "address_line4") %}
			{% if address_line4 %}{{ address_line4 }}<br>{% endif%}
			{% set country = frappe.db.get_value("Address", sales_invoice.customer_address, "country") %}
			{{ frappe.db.get_value("Country", country, "code") }}{% set postal_code = frappe.db.get_value("Address", sales_invoice.customer_address, "postal_code") %}{% if postal_code %}{{_("-")}}{{postal_code}}{% endif %} 
			{% set town = frappe.db.get_value("Address", sales_invoice.customer_address, "town") %}{% if town %}{{ town }}{% endif %}
			{% if not address_line1 %}<br>{% endif%}
			{% if not address_line2 %}<br>{% endif%}
			{% if not address_line3 %}<br>{% endif%}
			{% if not address_line4 %}<br>{% endif%}
		{% else %}
			<br>
			<br>
			<br>
			<br>
		{% endif %}
		{% if not sales_invoice.contact_person %}<br>{% endif %}
		<div class="date" style="padding-top: 20mm; font-size: 10pt;">
			{{ frappe.utils.formatdate(sales_invoice.sending_date, "dd. MMMM Y") }}
		</div>
	</div>
	<div class="col-xs-5 staff-member" style="padding-top: 12mm;">
		{% if sales_invoice.clerk_name %}
			<div class="staff-name">
				{{ frappe.db.get_value("Employee", {"user_id": sales_invoice.clerk_name }, "employee_name") }}
			</div>
			<div class="staff-function">
				<address>
					{% set phone = frappe.db.get_value("Employee", {"user_id": sales_invoice.clerk_name}, "phone_office_direct") %}
					{% if phone%}{{ "D: " + phone }}<br>{% endif %}
					{% set mobile = frappe.db.get_value("Employee", {"user_id": sales_invoice.clerk_name}, "natel_work") %}
					{% if mobile %}{{ "M: " + mobile }}<br>{% endif %}
					{% set email = frappe.db.get_value("Employee", {"user_id": sales_invoice.clerk_name}, "company_email") %}
					{% if email %}{{ "@: " + email }}{% endif %}
				</address>
			</div>
		{% else %}
			<div class="staff-name">
				{{ frappe.db.get_value("Employee", {"user_id": sales_invoice.chief_signature }, "employee_name") }}
			</div>
			<div class="staff-function">
				<address>
					{% set phone = frappe.db.get_value("Employee", {"user_id": sales_invoice.chief_signature}, "phone_office_direct") %}
					{% if phone %}{{ "D: " + phone }}<br>{% endif %}
					{% set mobile = frappe.db.get_value("Employee", {"user_id": sales_invoice.chief_signature}, "natel_work") %}
					{% if mobile %}{{ "M: " + mobile }}<br>{% endif %}
					{% set email = frappe.db.get_value("Employee", {"user_id": sales_invoice.chief_signature}, "company_email") %}
					{% if email %}{{ "@: " + email }}{% endif %}
				</address>
			</div>
		{% endif %}
	</div>
</div>
<div class="text-left main-info" style="line-height: 1 !important;">
	<h4>{{ _(sales_invoice.doctype) }} {{ sales_invoice.name }}<br>
		{% if sales_invoice.offer_content%}
			{{ sales_invoice.offer_content }}
		{% endif %}
	</h4>
</div>
<div class="row" style="margin-bottom: 12pt; margin-right: 8px;">
	<div class="col-xs-6 additional-info" style="line-height: 1.5 !important;">
		<div class="row" data-fieldname="transaction_date" data-fieldtype="Date">
			<div class="col-xs-5 text-left">
				<label style="margin-bottom: 0 !important;">{{ _("Sales Invoice Date") }}</label>
			</div>
			<div class="col-xs-7 value">
				{{ sales_invoice.get_formatted("transaction_date", doc) }}
			</div>
		</div>
		{% if sales_invoice.reference_number %}
			<div class="row" data-fieldname="reference_number" data-fieldtype="Data">
				<div class="col-xs-5 text-left">
					<label style="margin-bottom: 0 !important;">{{ _("Reference Number") }}</label>
				</div>
				<div class="col-xs-7 value">
					{{ sales_invoice.get_formatted("reference_number", doc) }}
				</div>
			</div>
		{% endif %}
		{% if sales_invoice.sales_order_name %}
			{% set quotation_name = frappe.db.get_value("Sales Order", sales_invoice.sales_order_name, "quotation_name") %}
			{% if quotation_name %}
				<div class="row" data-fieldname="quotation_name" data-fieldtype="Data">
					<div class="col-xs-5 text-left">
						<label style="margin-bottom: 0 !important;">{{ _("Quotation Number") }}</label>
					</div>
					<div class="col-xs-7 value">
						{{ quotation_name }}
					</div>
				</div>
			{% endif %}
		{% endif %}
		{% if sales_invoice.sales_order_name %}
			<div class="row" data-fieldname="sales_order_name" data-fieldtype="Data">
				<div class="col-xs-5 text-left">
					<label style="margin-bottom: 0 !important;">{{ _("Sales Order Number") }}</label>
				</div>
				<div class="col-xs-7 value">
					{{ sales_invoice.get_formatted("sales_order_name", doc) }}
				</div>
			</div>
		{% endif %}
		{% if sales_invoice.owner_name %}
			<div class="row" data-fieldname="owner_name" data-fieldtype="Data"  style="margin-bottom: 2mm !important; margin-top: 1mm !important;">
				<div class="col-xs-5 text-left" >
					<label>{{ _("Owner") }}</label>
				</div>
				<div class="col-xs-7 value" style="line-height: 1 !important;">
					{{ sales_invoice.get_formatted("owner_name", doc) }}
				</div>
			</div>
		{% endif %}
		{% if sales_invoice.object_number %}
			<div class="row" data-fieldname="object_number" data-fieldtype="Data">
				<div class="col-xs-5 text-left">
					<label style="margin-bottom: 0 !important;">{{ _("Object") }}</label>
				</div>
				<div class="col-xs-7 value" style="line-height: 1 !important;">
					{{ sales_invoice.get_formatted("object_number", doc) }}
				</div>
			</div>
		{% endif %}
		{% if sales_invoice.contact_start_date %}
			<div class="row" data-fieldname="contact_start_date" data-fieldtype="Date">
				<div class="col-xs-5 text-left">
					<label style="margin-bottom: 0 !important;">{{ _("Contract Start Date") }}</label>
				</div>
				<div class="col-xs-7 value">{{ sales_invoice.get_formatted("contact_start_date", doc) }}</div>
			</div>
		{% endif %}
		{% if sales_invoice.contact_end_date %}
			<div class="row" data-fieldname="contact_end_date" data-fieldtype="Date">
				<div class="col-xs-5 text-left">
					<label style="margin-bottom: 0 !important;">{{ _("Contract End Date") }}</label>
				</div>
				<div class="col-xs-7 value">{{ sales_invoice.get_formatted("contact_end_date", doc) }}</div>
			</div>
		{% endif %}
	</div>
	<div class="col-xs-6 additional-info" style="line-height: 1.5 !important;">
		{% if sales_invoice.client_order_number %}
			<div class="row" data-fieldname="client_order_number" data-fieldtype="Data">
				<div class="col-xs-5 text-left">
					<label style="margin-bottom: 0 !important;">{{ _("Client Order Number") }}</label>
				</div>
				<div class="col-xs-7 value">{{ sales_invoice.get_formatted("client_order_number", doc) }}</div>
			</div>
		{% endif %}
		{% if sales_invoice.client_contract_number %}
			<div class="row" data-fieldname="client_contract_number" data-fieldtype="Data">
				<div class="col-xs-5 text-left">
					<label style="margin-bottom: 0 !important;">{{ _("Client Contract Number") }}</label>
				</div>
				<div class="col-xs-7 value">{{ sales_invoice.get_formatted("client_contract_number", doc) }}</div>
			</div>
		{% endif %}
		{% if sales_invoice.client_project_number %}
			<div class="row" data-fieldname="client_project_number" data-fieldtype="Data">
				<div class="col-xs-5 text-left">
					<label style="margin-bottom: 0 !important;">{{ _("Client Project Number") }}</label>
				</div>
				<div class="col-xs-7 value">{{ sales_invoice.get_formatted("client_project_number", doc) }}</div>
			</div>
		{% endif %}
		{% if sales_invoice.client_reference %}
			<div class="row" data-fieldname="client_reference" data-fieldtype="Data">
				<div class="col-xs-5 text-left">
					<label style="margin-bottom: 0 !important;">{{ _("Client Reference") }}</label>
				</div>
				<div class="col-xs-7 value">{{ sales_invoice.get_formatted("client_reference", doc) }}</div>
			</div>
		{% endif %}
		{% if sales_invoice.client_order %}
			<div class="row" data-fieldname="client_order" data-fieldtype="Data">
				<div class="col-xs-5 text-left">
					<label style="margin-bottom: 0 !important;">{{ _("Your Order") }}</label>
				</div>
				<div class="col-xs-7 value">{{ sales_invoice.get_formatted("client_order", doc) }}</div>
			</div>
		{% endif %}
		{% if sales_invoice.client_end_customer %}
			<div class="row" data-fieldname="client_end_customer" data-fieldtype="Data">
				<div class="col-xs-5 text-left">
					<label style="margin-bottom: 0 !important;">{{ _("Client End Customer") }}</label>
				</div>
				<div class="col-xs-7 value">{{ sales_invoice.get_formatted("client_end_customer", doc) }}</div>
			</div>
		{% endif %}
		{% if sales_invoice.client_contact_person %}
			<div class="row" data-fieldname="client_contact_person" data-fieldtype="Data">
				<div class="col-xs-5 text-left">
					<label style="margin-bottom: 0 !important;">{{ _("Client Contact Person") }}</label>
				</div>
				<div class="col-xs-7 value">{{ sales_invoice.get_formatted("client_contact_person", doc) }}</div>
			</div>
		{% endif %}
	</div>
</div>
{% if sales_invoice.items %}
	{% set data = sales_invoice.get("items") %}
	{% if data %}
		<div data-fieldname="items additional-info" data-fieldtype="Table" style="line-height: 1;">
		<table class="table table-bordered table-condensed additional-info" style="line-height: 1;">
			<thead>
				<tr>
					{% if sales_invoice.is_date_row %}
						<th style="width: 6%;" class="text-left">
							{{ _("Date") }}
						</th>
					{% endif %}
					<th style="width: 39%;" class="text-left">{{ _("Designation") }}</th>
					<th style="width: 10%;" class="text-right">{{ _("Quantity") }}</th><th style="width: 15%;" class="text-right">{{ _("Rate") }}</th>
					{% if sales_invoice.check_discount %}
						<th style="width: 10%;" class="text-right">{{ _("Discount") }}</th>
					{% endif %}
					<th style="width: 20%;" class="text-right">{{ _("Amount in") }} {{sales_invoice.get_formatted("currency", doc)}}</th>
				</tr>
			</thead>
			<tbody>
				{% for d in data %}
					<tr>
						{% if sales_invoice.is_date_row %}
							{% if d.installation_date %}
								<td style="line-height: 1 !important;">
									{{ frappe.utils.formatdate(d.installation_date, "dd.MM.YY") }}
								</td>
							{% else %}
								<td></td>
							{% endif %}
						{% endif %}
						<td style="line-height: 1 !important;">
							<span>{{ d.get_formatted("item_name", doc) }}</span>
							{% if d.description != "leer" %}
							<br><br>
								{{ d.description }}
							{% endif %}
							{% if d.width_asl_size or d.width_hight_ht or d.width_hight_hl or d.location %}
								<br>
							{% endif %}
							{% if d.width_asl_size %}
							<br>
								{{ d.width_asl_size }}
							{% endif %}
							{% if d.width_hight_ht %}
							<br>
								{{ d.width_hight_ht }}
							{% endif %}
							{% if d.width_hight_hl %}
							<br>
								{{ d.width_hight_hl }}
							{% endif %}
							{% if sales_invoice.taxes|length > 1 %}
								<div>
									<i>{{ _("(VAT  ")}}{{ d.item_tax_rate.split(":")[1][:-1] }}{{ ("%) ")}}</i>
								</div>
							{% endif %}
						</td>
						<td class="text-right">
							<div class="value" style="line-height: 1 !important;">
								{{ d.get_formatted("qty", doc) }} {{ d.stock_uom }}
							</div>
						</td>
						<td class="text-right">
							<div class="value" style="line-height: 1 !important;">
								{{ d.get_formatted("rate", doc) }}
							</div>
						</td>
						{% if sales_invoice.check_discount %}
							<td class="text-right">
								<div class="value" style="line-height: 1 !important;">
									{{ d.get_formatted("discount_percentage", doc) }}
								</div>
							</td>
						{% endif %}
						<td class="text-right">
							<div class="value" style="line-height: 1 !important;">
								{{ d.get_formatted("amount", doc) }}
							</div>
							{% if sales_invoice.taxes|length > 1 %}
							<br><br>
							<div class="value" style="line-height: 1 !important;">
								{{ d.item_tax_amount }}
							</div>
							{% endif %}
						</td>
					</tr>
				{% endfor %}
				{% if sales_invoice.timesheets %}
					{% set timesheets = sales_invoice.timesheets %}
					{% for i in timesheets %}
						{% set time_log_doc = frappe.get_doc("Timesheet", i.time_sheet) %}
						<tr>
							<td></td>
							<td>{{ _("Time Report From") }} {{ time_log_sales_invoice.get_formatted("start_date", time_log_doc).split()[0] }}
							<br>{{ "(" + frappe.db.get_value("Timesheet", i.time_sheet, "employee") + ")" }}</td>
							<td class="text-right">
								<div class="value" style="line-height: 1 !important;">
									{{ i.get_formatted("billing_hours", i) }}
								</div>
							</td>
							<td>
								<div class="text-right" class="value">
								</div>
							</td>
							{% if sales_invoice.check_discount %}
								<td></td>
							{% endif %}
							<td class="text-right">
								<div class="value" style="line-height: 1 !important;">
									{{ i.get_formatted("billing_amount", doc) }}
								</div>
							</td>
						</tr>
					{% endfor %}
				{% endif %}
				{% if sales_invoice.discount_amount %}
					<tr>
						{% if sales_invoice.is_date_row %}
							<td></td>
						{% endif %}
						<td style="font-weight: bold; line-height: 1 !important;">{{ _("Total") }}</td>
						<td></td>
						<td></td>
						{% if sales_invoice.check_discount %}<td></td>{% endif %}
						<td class="text-right" style="font-weight: bold;">
							<div class="value" style="line-height: 1 !important;">
								{{ sales_invoice.get_formatted("total", doc) }}
							</div>
						</td>
					</tr>
				{% endif %}
				{% if sales_invoice.discount_1_value %}
					<tr>
						{% if sales_invoice.is_date_row %}
							<td></td>
						{% endif %}
						<td style="line-height: 1 !important;">
							{{ sales_invoice.get_formatted("discount_1_name", doc) }} ({{ sales_invoice.get_formatted("discount_1_value", doc) }})
						</td>
						<td></td>
						<td></td>
						{% if sales_invoice.check_discount %}<td></td>{% endif %}
						<td class="text-right">
							<div class="value" style="line-height: 1 !important;">
								{{ sales_invoice.get_formatted("discount_1_rate", doc) }}
							</div>
						</td>
					</tr>
				{% endif %}
				{% if sales_invoice.discount_2_value %}
					<tr>
						{% if sales_invoice.is_date_row %}
							<td></td>
						{% endif %}
						<td style="line-height: 1 !important;">
							{{ sales_invoice.get_formatted("discount_2_name", doc) }} ({{ sales_invoice.get_formatted("discount_2_value", doc) }})
						</td>
						<td></td>
						<td></td>
						{% if sales_invoice.check_discount %}<td></td>{% endif %}
						<td class="text-right">
							<div class="value" style="line-height: 1 !important;">
								{{ sales_invoice.get_formatted("discount_2_rate", doc) }}
							</div>
						</td>
					</tr>
				{% endif %}
				{% if sales_invoice.discount_3_value %}
					<tr>
						{% if sales_invoice.is_date_row %}
							<td></td>
						{% endif %}
						<td style="line-height: 1 !important;">
							{{ sales_invoice.get_formatted("discount_3_name", doc) }}
						</td>
						<td></td>
						<td></td>
						{% if sales_invoice.check_discount %}<td></td>{% endif %}
						<td class="text-right">
							<div class="value" style="line-height: 1 !important;">
								{{ sales_invoice.get_formatted("discount_3_value", doc) }}
							</div>
						</td>
					</tr>
				{% endif %}
				<tr>
					{% if sales_invoice.is_date_row %}
						<td style="border-top: 2px solid black !important;"></td>
					{% endif %}
					<td style="line-height: 1 !important; border-top: 2px solid black !important;">
						{{ _("Total (excl. VAT)") }}
					</td>
					<td style="border-top: 2px solid black !important;"></td>
					<td style="border-top: 2px solid black !important;"></td>
					{% if sales_invoice.check_discount %}
						<td style="border-top: 2px solid black !important;"></td>
					{% endif %}
					<td class="text-right" style="border-top: 2px solid black !important;">
						<div class="value" style="line-height: 1 !important;">
							{{ sales_invoice.get_formatted("net_total", doc) }}
						</div>
					</td>
				</tr>
				{% if sales_invoice.taxes %}
					{% set tax_data = sales_invoice.taxes %}
					{% for i in tax_data %}
						<tr>
							{% if sales_invoice.is_date_row %}
								<td></td>
							{% endif %}
							<td style="line-height: 1 !important;">{{ _("VAT (")}}{{ i.rate }} {{("%)") }}</td>
							<td></td>
							<td></td>
							{% if sales_invoice.check_discount %}
								<td></td>
							{% endif %}
							<td class="text-right">
								<div class="value" style="line-height: 1 !important;">
									{{ i.get_formatted("tax_amount_after_discount_amount", doc) }}
								</div>
							</td>
						</tr>
					{% endfor %}
				{% endif%}
					<tr>
						{% if sales_invoice.is_date_row %}
						<td style="border-bottom: 3px solid black !important;border-top: 3px solid black !important;"></td>
						{% endif %}
						<td style="font-weight: bold; line-height: 1 !important; border-bottom: 3px solid black !important; border-top: 3px solid black !important;">
							{{ _("Total (incl. VAT) rounded") }}
						</td>
						<td style="border-bottom: 3px solid black !important; border-top: 3px solid black !important;"></td>
						<td style="border-bottom: 3px solid black !important; border-top: 3px solid black !important;" ></td>
						{% if sales_invoice.check_discount %}
							<td style="border-bottom: 3px solid black !important; border-top: 3px solid black !important;"></td>
						{% endif %}
						<td class="text-right" style="font-weight: bold; border-bottom: 3px solid black !important; border-top: 3px solid black !important;">
							<div class="value" style="line-height: 1 !important;">
								{{ sales_invoice.get_formatted("rounded_total_enip", doc) }}
							</div>
						</td>
					</tr>
				{% if sales_invoice.get("partial_payment_1_name") and sales_invoice.get("partial_payment_1_value") %}
					<tr>
						{% if sales_invoice.is_date_row %}
							<td></td>
						{% endif %}
						{% if sales_invoice.check_discount %}
							<td colspan="4" style="line-height: 1 !important;">
						{% else %}
							<td colspan="3" style="line-height: 1 !important;">
						{% endif %}
							{{ _("Account No.1") }} = {{ sales_invoice.get_formatted("partial_payment_1_value", doc) }}
							{{ sales_invoice.get_formatted("partial_payment_1_name", doc) }}
						</td>
						<td style="font-weight: bold; line-height: 1 !important;" class="text-right">
							{% set partial_payment = (sales_invoice.rounded_total_enip * sales_invoice.partial_payment_1_value)/100 %}
							{{ frappe.utils.fmt_money(partial_payment) }}
						</td>
					</tr>
				{% endif %}
				{% if sales_invoice.get("partial_payment_2_name") and sales_invoice.get("partial_payment_2_value") %}
					<tr>
						{% if sales_invoice.is_date_row %}
							<td></td>
						{% endif %}
						{% if sales_invoice.check_discount %}
							<td colspan="4" style="line-height: 1 !important;">
						{% else %}
							<td colspan="3" style="line-height: 1 !important;">
						{% endif %}
							{{ _("Account No.2") }} = {{ sales_invoice.get_formatted("partial_payment_2_value", doc) }} {{ sales_invoice.get_formatted("partial_payment_2_name", doc) }}
						</td>
						<td style="font-weight: bold; line-height: 1 !important;" class="text-right">
							{% set partial_payment = (sales_invoice.rounded_total_enip * sales_invoice.partial_payment_2_value)/100 %}
							{{ frappe.utils.fmt_money(partial_payment) }}
						</td>
					</tr>
				{% endif %}
				{% if sales_invoice.get("partial_payment_3_name") and sales_invoice.get("partial_payment_3_value") %}
					<tr>
						{% if sales_invoice.is_date_row %}
							<td></td>
						{% endif %}
						{% if sales_invoice.check_discount %}
							<td colspan="4" style="line-height: 1 !important;">
						{% else %}
							<td colspan="3" style="line-height: 1 !important;">
						{% endif %}
							{{ _("Account No.3") }} = {{ sales_invoice.get_formatted("partial_payment_3_value", doc) }}
							{{ sales_invoice.get_formatted("partial_payment_3_name", doc) }}
						</td>
						<td style="font-weight: bold; line-height: 1 !important;" class="text-right">
							{% set partial_payment = (sales_invoice.rounded_total_enip * sales_invoice.partial_payment_3_value)/100 %}
							{{ frappe.utils.fmt_money(partial_payment) }}
						</td>
					</tr>
				{% endif %}
				{% if sales_invoice.get("partial_payment_4_name") and sales_invoice.get("partial_payment_4_value") %}
					<tr>
						{% if sales_invoice.is_date_row %}
							<td></td>
						{% endif %}
						{% if sales_invoice.check_discount %}
							<td colspan="4" style="line-height: 1 !important;">
						{% else %}
							<td colspan="3" style="line-height: 1 !important;">
						{% endif %}
							{{ _("Account No.4") }} = {{ sales_invoice.get_formatted("partial_payment_4_value", doc) }}
							{{ sales_invoice.get_formatted("partial_payment_4_name", doc) }}
						</td>
						<td style="font-weight: bold; line-height: 1 !important;" class="text-right">
							{% set partial_payment = (sales_invoice.rounded_total_enip * sales_invoice.partial_payment_4_value)/100 %}
							{{ frappe.utils.fmt_money(partial_payment) }}
						</td>
					</tr>
				{% endif %}
			</tbody>
		</table>
	</div>
	{% endif %}
{% endif %}
{% if sales_invoice.greeting_text %}
	<div class="additional-info" style="margin-bottom: 12pt; margin-right: 8px; line-height: 1;">
		{{ sales_invoice.greeting_text }}
	</div>
{% endif %}
<div class="additional-info" style="margin-bottom: 12pt; line-height: 1; line-height: 1;">
	{{ _("The Payment Deadline is") }} {{ sales_invoice.payment_condition }} {{ _("Days")}} {{ _("net")}}
</div>
{% if sales_invoice.items_description1 %}
	<div class="same-page additional-info" style="margin-bottom: 11pt; margin-right: 8px; line-height: 1;">
		{{ sales_invoice.items_description1 }}
	</div>
{% endif %}
</div>
{% endif %}
<div class="visible-pdf" id="footer-html">
	<div class="footer" style="margin-left: 5mm;">
		<body style="font-family: Arial, sans-serif; font-size: 8pt;">
			<section style="line-height: 1 !important; font-size: 8pt;">
				{{ frappe.render_template(frappe.db.get_value("Letter Head", "Standard", "footer"), {"doc": doc}) }}
				<div style="text-align: right !important;">
					<span class="small page-number visible-pdf" style="line-height: 1 !important;">
						{{ _("Page {0} of {1}").format('<span class="page"></span>', '<span class="topage"></span>') }}
					</span>
				</div>
			</section>
		</body>
	</div>
</div>
