<div id="header-html">
</div>
<div class="row">
	<div class="letter-head">{{ frappe.render_template(frappe.db.get_value("Letter Head","Standard", "content"), {"doc": doc}) }}</div>
</div>
<div class="visible-pdf" id="footer-html">
	<body onload="subst()" style="font-family: Arial, sans-serif; font-size: 8pt;">
		<section style="text-align: center;">
			<p class="text-center small page-number visible-pdf">
				{{ _("Page {0} of {1}").format('<span class="page"></span>', '<span class="topage"></span>') }}
			</p>
			<div class="page-number" style="padding-top: 1mm;">
				{{ frappe.render_template(frappe.db.get_value("Letter Head","Standard", "footer"), {"doc": doc}) }}
			</div>
		</section>
	</body>
</div>
<div class="row">
	<div class="col-xs-6" style="line-height: 1.3;">
		<div class="row" data-fieldname="customer_name" data-fieldtype="Data">
			<div class="col-xs-6 text-left">
				<label>{{ _("Customer Name") }}</label>
			</div>
			<div class="col-xs-6 value">{{ doc.customer_name }}</div>
		</div>
		{% if doc.address_display %}
		<div class="row" data-fieldname="address_displaye" data-fieldtype="Data">
			<div class="col-xs-6 text-left">
				<label>{{ _("Address Display") }}</label>
			</div>
			<div class="col-xs-6 value">{{ doc.address_display }}</div>
		</div>
		{% endif %}
		{% if doc.contact_display %}
		<div class="row" data-fieldname="contact_display" data-fieldtype="Data">
			<div class="col-xs-6 text-left">
				<label>{{ _("Contact Display") }}</label>
			</div>
			<div class="col-xs-6 value">{{ doc.contact_display }}</div>
		</div>
		{% endif %}
		{% if doc.contact_mobile %}
			<div class="row" data-fieldname="contact_mobile" data-fieldtype="Data">
				<div class="col-xs-6 text-left">
					<label>{{ _("Contact Mobile") }}</label>
				</div>
				<div class="col-xs-6 value">{{ doc.contact_mobile }}</div>
			</div>
		{% endif %}
		{% if doc.contact_email %}
			<div class="row" data-fieldname="contact_email" data-fieldtype="Data">
				<div class="col-xs-6 text-left">
					<label>{{ _("Contact Email") }}</label>
				</div>
				<div class="col-xs-6 value">{{ doc.contact_email }} </div>
			</div>
		{% endif %}
		{% if doc.target %}
			<div class="row" data-fieldname="target" data-fieldtype="Data">
				<div class="col-xs-6 text-left">
					<label>{{ _("Target") }}</label>
				</div>
				<div class="col-xs-6 value">{{ doc.target }} </div>
			</div>
			<div class="col-xs-6 text-left">
				<label>{{ _("Object Details") }}</label>
			</div>
			<div class="col-xs-6 value">
				{{ frappe.get_doc("Target", doc.target).get_display() }}
			</div>
		{% endif %}
		{% if doc.completion_status %}
			<div class="row" data-fieldname="completion_status" data-fieldtype="Data">
				<div class="col-xs-6 text-left">
					<label>{{ _("Completion Status") }}</label>
				</div>
				<div class="col-xs-6 value">{{ doc.completion_status }}</div>
			</div>
		{% endif %}
	</div>
	<div class="col-xs-6" style="line-height: 1.3;">
		<div class="row" data-fieldname="mntc_date" data-fieldtype="Date">
			<div class="col-xs-6 text-left">
				<label>{{ _("Maintenance Date") }}</label>
			</div>
			<div class="col-xs-6 value">{{ doc.mntc_date }}</div>
		</div>
	</div>
	<div class="col-xs-6" style="line-height: 1.3;">
		<div class="row" data-fieldname="mntc_time" data-fieldtype="Data">
			<div class="col-xs-6 text-left">
				<label>{{ _("Maintenance Time") }}</label>
			</div>
			<div class="col-xs-6 value">{{ doc.mntc_time }}</div>
		</div>
	</div>
	<div class="col-xs-6" style="line-height: 1.3;">
		<div class="row" data-fieldname="maintenance_type" data-fieldtype="Data">
			<div class="col-xs-6 text-left">
				<label>{{ _("Maintenance Type") }}</label>
			</div>
			<div class="col-xs-6 value">{{ doc.maintenance_type }}</div>
		</div>
	</div>
</div>
{% if doc.purposes %}
	{% set data = doc.get("purposes") %}
	{% if data %}
		<div data-fieldname="purposess" data-fieldtype="Table" style="padding-top: -3pt;">
		<table class="table table-bordered table-condensed">
			<thead>
				<tr>
					<th style="width: 35%;" class="text-left">{{ _("Item Code") }}</th>
					<th style="width: 15%;" class="text-right">{{ _("Item Name") }}</th><th style="width: 15%;" class="text-right">{{ _("Serial No") }}</th>
					<th style="width: 15%;" class="text-right">{{ _("Description") }}</th>
					<th style="width: 25%;" class="text-right">{{ _("Service Person") }}</th>
					<th style="width: 25%;" class="text-right">{{ _("Work Done") }}</th>
				</tr>
			</thead>
			<tbody>
				{% for d in data %}
					<tr>
						<td>
							<div class="col-xs-6 value">{{ d.item_code }}</div>
						</td>
						<td>
							<div class="col-xs-6 value">{{ d.item_name }}</div>
						</td>
						<td>
							<div class="col-xs-6 value">{{ d.serial_no }}</div>
						</td>
						<td>
							<div class="col-xs-6 value">{{ d.description }}</div>
						</td>
						<td>
							<div class="col-xs-6 value">{{ d.service_person }}</div>
						</td>
						<td>
							<div class="col-xs-6 value">{{ d.work_done }}</div>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		</div>
	{% endif %}
{% endif %}
<div class="row">
	<div class="col-xs-6" style="line-height: 1.3;">
		<div class="row" data-fieldname="customer_feedback" data-fieldtype="Data">
			<div class="col-xs-6 text-left">
				<label>{{ _("Customer Feedback") }}</label>
			</div>
			<div class="col-xs-6 value">{{ doc.customer_feedback }}</div>
		</div>
	</div>
	<div class="col-xs-6" style="line-height: 1.3;">
		<div class="row" data-fieldname="status" data-fieldtype="Data">
			<div class="col-xs-6 text-left">
				<label>{{ _("Status") }}</label>
			</div>
			<div class="col-xs-6 value">{{ doc.status }}</div>
		</div>
	</div>
</div>
